body {
    font-family: "sans-serif";
    background-color:grey;
    margin-top: 75px;
    
}

.center {
    text-align: "center";
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 500px;
}
 .styles
          {
                  max-width: 800px;
                 margin: 200px;
                 color: #d4a026;
               font-family:" Times new roman";
                padding-top: 50px;
               padding-left: 80px;
          }
